[${VOLUME_NAME}]
  comment = ${VOLUME_NAME} volume
  read only = ${READONLY}
  path = ${VOLUME}
  force user = ${USER}
  force group = ${GROUP}
  valid users = ${SMB_USER}
  guest ok = no
  map archive = no
  map system = no
  map hidden = no
